spring:
  application:
    name: shoefinder

datasource:
  url: ${DB_URL:jdbc:postgresql://postgres:5432/shoe_finder}
  username: ${DB_USERNAME:admin}
  password: ${DB_PASSWORD:admin123}

jpa:
  hibernate:
    ddl-auto: validate
  show-sql: true
  properties:
    hibernate:
      format_sql: true

server:
  port: 8080
